.App {
  text-align: center;
}

.mainImg {
    position:fixed;
    top:0%;
    left:0%;
    max-width:100%;
    min-width: 100%;
    height:auto;
    z-index: -1;
}

.heading {
    margin: 0;
    padding-block-start: 0.67em;
    padding-block-end: 0.67em;
    background-image:linear-gradient(    
    rgba(0,0,0,0.9) 5%,    
    rgba(0,0,0,0.7) 40%,    
    rgba(0,0,0, 0.6) 65%,     
    rgba(0,0,0,0.1) 90%, 
    rgba(0,0,0,0));
}

.info {
    width: 100%;
    position: fixed;
    bottom: 0;
    background: rgba(0,0,0,0.5);
}

.infoClickable {
    padding: 1em;
}
